@charset "UTF-8";
a {
	text-decoration:none;
}


.top {
	height: 50px;
	display: flex;
	justify-content: space-between;
	border-bottom:2px solid white;
}



.dropdown-button {
	background-color: #FFDAB9;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	top:3px;
	
}

.dropdown-content {
	display: none;
	position: absolute;
	right:0px;
	background-color: #FFDAB9;
	min-width:100px;
	padding: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 8px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #CD853F;
}

.dropdown:hover .dropdown-content {
	display: block;
	width:100px;
	
}
.dropdown-button{
	width:40px;
	height:40px;
	border-radius:10px;
	
}
.dropdown:hover .dropdown-button {
	background-color: #CD853F;
	
}
.log{
	position: relative;
	width:40px;
	height:40px;
	border-radius:10px;
	right:6px;
	bottom:1px;
	
}
header{background-color: rgb(179,135,127,0.1);}
section{background-color:rgb(179,135,127,0.1);
		padding:10px;}
footer{background-color: #5F2218;
		color:white;
		font-size:10px;}
.login{
	width:85%;
	background-color: #D2C6C6;
	color:#5F2218;
	border:none;
}
.inf{
	width:27%;
	font-size:10px;
	background-color: #D2C6C6;
	color:#5F2218;
	border:none;
}
.ilogo{
	width:40px;
	height:40px;
	border-radius:50%;
	margin:10px;
	
}

.profilex{
	width:100px;
	height:100px;
	border-radius:50%;
	margin:10px;
}


.login1{
	border-radius:20px;
	background-color:white;
	width:50%;
	margin-left:25%;
	
}
.login2{
	border-radius:20px;
	background-color:white;
	width:80%;
	margin-left:10%;
	padding:10px 0 10px 0;
	
}
#title{
	font-size:14px;
	width:18%;
	text-align:center;
}

#mem_mail{
	width:30%;
}

#mem_p2{
	width:30%;
}
#mem_p3{
	width:30%;
}
#sel_p2{
	width:30%;
}
#sel_p3{
	width:30%;
}

.login3{
	border-radius:20px;
	background-color:white;
	width:50%;
	margin-left:25%;
	padding:10px 0 10px 0;
	
}

#pwfind{
	width:85%;
	background-color: #D2C6C6;
	color:#5F2218;
	border:none;
	border-radius:10px;
}
#mem_do{
	width:35%;
}
.login4{
	border-radius:20px;
	background-color:white;
	width:50%;
	margin-left:25%;
	padding:10px 0 10px 0;
	
}

#title1{
	font-size:14px;
	width:30%;
	text-align:center;
}
#memdel{
	width:85%;
	background-color: #D2C6C6;
	color:#5F2218;
	border:none;
	border-radius:10px;
}
#join_profile1{
	font-size:10px;
}
#idck{
	background-color: #D2C6C6;
	color:#5F2218;
	border:none;
}
#idfind{
	width:85%;
	background-color: #D2C6C6;
	color:#5F2218;
	border:none;
	border-radius:10px;
}

#join{
	background-color: #D2C6C6;
	color:#5F2218;
	border:none;
}
#back{
	background-color: #D2C6C6;
	color:#5F2218;
	border:none;
}
#edit{
	background-color: #D2C6C6;
	color:#5F2218;
	border:none;
}
#editpw{
	background-color: #D2C6C6;
	color:#5F2218;
	border:none;
}
#editpwin{
	background-color: #D2C6C6;
	color:#5F2218;
	border:none;
}
#del{
	background-color: #D2C6C6;
	color:#5F2218;
	border:none;
}
#mb{
	background-color: #D2C6C6;
	color:#5F2218;
	width:45%;
}
#mb1{
		width:150px;
		height:100px;
		border-radius:10px;
	}

